{% extends 'indexadmin.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="course2">
  <br>
  <br>
  <center><h2>COURSE REGISTRATION</h2></center>
  <center>  <h2>- - - - - - - - - - - - - - - - - - - - - -</h2></center>
  <div align="center">
  <table width="600" border="0" >
    <tr>
      <td><h3>COURSE</h3></td>
      <td><input type="text" name="textfield" required /></td>
    </tr>
    <BR>
    <tr>
      <td colspan="2">
        <div align="center">
<input type="submit" value="ADD"/> </div></td></tr>
  </table>
  </div>
</form>
</body>
{% endblock %}






