<html lang="en">
<head>
<title>DPEFR </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="./static/css/bootstrap.css" rel="stylesheet">
<link href="./static/css/style.css" rel="stylesheet">
<link href="./static/font/css/fontello.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <!--<div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="index.html"><img src="./static/img/b.jpg" alt=""></a>-->
      <ul class="nav nav-collapse pull-left">
    <!--<li><a href="" class="active">DWT</a></li>-->

    <li><a href="staffhome" class="active">STAFFHOME</a></li>
          <li><a href="vvideo" class="active">VIDEO</a></li>
        <!--<li><a href="student" class="active">STUDENT </a></li>-->
          <!--<li><a href="staff" class="active">TEACHERS</a></li>-->
   <li><a href="viewstudemotion1" class="active">STUDENTS EMOTION</a></li>
             <li><a href="viewrating1" class="active">TEACHER'S PERFORMANCE</a></li>
           <li><a href="viewatt" class="active">VIEW ATTENDANCE</a></li>


                  <li><a href="logout" class="active">LOGOUT</a></li>
      </ul>
      <ul class="nav nav-collapse pull-right">

      </ul>
      <!--<div class="nav-collapse collapse"></div>-->
    <!--</div>-->
  </div>
</div>
<div >
  <br/>
  <br/>
      {% block body %}{% endblock %}

  <!--<div class="btn-center"> <a href="#" class="hire-me"><i class="icon-download"></i> Download Resume</a>-->
  </div>
</div>
<div class="row social">

</div>
<div class="footer" href="./static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
  <div class="container">
    <p class="pull-left"><a href="http://dzyngiri.com">www.emotionrecognition.com</a></p>
    <p class="pull-right"><a href="#myModal" role="button" data-toggle="modal"> <i class="icon-mail"></i> CONTACT</a></p>
  </div>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-mail"></i> Contact Me</h3>
  </div>
  <div class="modal-body">
    <form action="#">
     <input type="text" placeholder="Emotion Recognition">
      <input type="text" placeholder="0945-670980">
      <input type="text" placeholder="www.dwt.com">
      <textarea rows="3" style="width:80%" placeholder="emotionrecognition@gmail.com,calicut-679909"></textarea>
      <br>
      <!--<button type="submit" class="btn btn-large"><i class="icon-paper-plane"></i> SUBMIT</button>-->
    </form>
  </div>
</div>
<script src="./static/js/jquery-1.10.1.min.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script>
$('#myModal').modal('hidden')
</script>
</body>
</html>