{% extends 'indexstaff.html' %}
{% block body %}
<body background="./static/img/em.jpg">
<!--<img src="./static/img/c.jpg" alt="" width="9000" height="3000">-->

<form id="form1" name="form1" method="post" action="">
  <br>
  <br>
  <br>
   <br>
  <br>
  <br>
   <br>
  <br>
  <br>
  <center><i> <h1><font color="white"><span style="background-color:#000000">DETECTION OF PUPIL EMOTION BASED ON FACIAL RECOGNITION</span></font>
  </h1></i></center>

  <!--<table width="22%" border="1" cellpadding="1">-->
    <!--<tr>-->
      <!--<th scope="row"><a href="#">block / unblock users</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="#">view feedbacks</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="#">logout</a></th>-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
{% endblock %}